@model IEnumerable<BookingOtelSearchViewModel.Result>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
    double score;
}

<h1>Booking Otel Rezervasyon Sayfası</h1>

<h3>Arama Yapılan Şehir: Paris/Fransa</h3>
<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Otel Adı</th>
        <th>Puan</th>
        <th>Otel Değerlendirmesi</th>
        <th>Detaylar</th>
        <th>Otel Resmi</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <td>@item.hotel_name</td>
            @*<td>@item.review_score</td>*@
            @{
                score =double.Parse( item.review_score.ToString()) / 10;
            }
            <td>@score</td>
            @{
                if(item.review_score_word=="Very good")
                {
                    <td>Çok İyi</td>
                }
                if (item.review_score_word == "Good")
                {
                            <td>İyi</td>
                }
                if (item.review_score_word == "Fabulous")
                {
                    <td>Muhteşem</td>
                }
                if (item.review_score_word == null)
                {
                    <td> </td>
                }
                if (item.review_score_word == "Exceptional")
                {
                        <td>Kusursuz</td>
                }
            }
            <td> <a href="" class="btn btn-outline-dark">Detaylar</a></td>
            <td> <a href="@item.url" target="_blank" class="btn btn-outline-info">Rezervasyon Yap</a></td>
        </tr>
    }
</table>